@model int

<div id="header">
    <h2 class="text-dark py-2">Details of Receiving ID: @Model</h2>
</div>
<div class="p-4">
    <div class="row pb-3">
        <div class="col-6">
            <a class="btn btn-primary" asp-controller="Receiving" asp-action="Index">
                <i class="bi bi-plus-circle"></i>
                Back To Receivings List
            </a>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="ReceivingDetails" asp-action="Create" asp-route-receivingID="@Model">
                <i class="bi bi-plus-circle"></i> 
                Add Details
            </a>
        </div>
    </div>
    <table id="ctgTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Receiving Details ID</td>
                <td>Product Name</td>
                <td>quantity</td>
                <td></td>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script>
        var dataTable;

        $(document).ready(function () {
            loadDataTable();
        })

        function loadDataTable() {
            dataTable = $('#ctgTable').DataTable({
                "ajax": { url: '/ReceivingDetails/getall?receivingId=' + @Model },
                "columns": [
                    { data: 'receivingDetailsID' },
                    { data: 'product.productName' },
                    { data: 'quantity' },
                    {
                        data: 'receivingDetailsID',
                        "render": function (data) {
                            return `<div class="w-75 btn-group" role="group">
                                        <a href="/ReceivingDetails/edit?id=${data}" class="btn btn-primary mx-2">
                                            <i class="bi bi-pencil-square"></i> Edit
                                        </a>
                                        <a onClick=Delete('/ReceivingDetails/delete/${data}') class="btn btn-danger mx-2">
                                            <i class="bi bi-trash-fill"></i> Delete
                                        </a>
                                    </div>`
                        },
                        "width": "25%"
                    },
                ]
            });
        }
        function Delete(url) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (data) {
                            if(data.success == true){
                                dataTable.ajax.reload();
                                Swal.fire(data.message, "", "success");
                            } else if (data.success == false){
                                Swal.fire({
                                    icon: "error",
                                    title: "Oops...",
                                    text: data.message,
                                });
                            }
                        },
                    });
                }
            });

        }
    </script>
}