@model Warehouse

<div id="header">
    <h2 class="text-dark py-2">CREATE WAREHOUSE</h2>
</div>
<div class="p-4">
    <form method="post" class="row">
        <div class="border p-3">
            <div class="form-floating py-2 col-12">
                <input asp-for="WarehouseName" class="form-control border-0 shadow" />
                <label asp-for="WarehouseName" class="ms-2"></label>
                <span asp-validation-for="WarehouseName" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Location" class="form-control border-0 shadow" />
                <label asp-for="Location" class="ms-2"></label>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="row pt-3">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-dark form-control">Create</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Warehouse" asp-action="Index" class="btn btn-white btn-outline border form-control">
                        Back To List
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}