@model Product

<div id="header">
    <h2 class="text-dark py-2">CREATE PRODUCT</h2>
</div>
<div class="p-4">
    <form method="post" class="row">
        <div class="border p-3">
            <div class="form-floating py-2 col-12">
                <input asp-for="ProductName" class="form-control border-0 shadow" />
                <label asp-for="ProductName" class="ms-2"></label>
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <select asp-for="CategoryID" asp-items="@ViewBag.ListCategories" class="form-control border-0 shadow">
                    <option disabled selected>--Select Category--</option>
                </select>
                <label asp-for="CategoryID" class="ms-2"></label>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="UnitPrice" class="form-control border-0 shadow" />
                <label asp-for="UnitPrice" class="ms-2"></label>
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <textarea width="300px" asp-for="Description" class="form-control border-0 shadow"></textarea>
                <label asp-for="Description" class="ms-2"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row pt-3">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-dark form-control">Create</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Product" asp-action="Index" class="btn btn-white btn-outline border form-control">
                        Back To List
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>




@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}